.ion-content{
    background-color:#1e1e1e ;
}

#logopageinicial{
    height: 200px;
    width: 50%;
}
#carpageinicial{
    background-color: coral;
}
#cardtitlepageinicial{
    color: black;
}
#cardsubtitleinicial{

    color: black;

}
#ptelainicial{

    color: black;
}

#cardheaderpageinicial{

    color: black;

}

#textopageinicial{
    text-align: center;

    
}

#entrapageinicial{

    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center; 
    justify-content: center;
    
}

#registrarpageinicial{

    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center; 
    justify-content: center;
    

}
